<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>/view"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">Delete</button>
      </form>

      <form class="inline" method="post" action="/<%= file %>/duplicate">
        <button type="submit">Duplicate</button>
      </form>
    </li>
  <% end %>
</ul>

<p>
  <a href="/new">New Document</a>

  <div>
    <% if session[:logged_in] %>
      <em>Signed in as <%= session[:user_name] %>.</em>
      <form class="inline" method="post" action="/logout">
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <form method="get" action="/login">
        <button type="submit">Sign In</button>
      </form>
    <% end %>
  </div>
</p>
